<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    {{>navbar}}
    <div class="register login">
        <div class="box">
            <h1> Add User | Profile Details</h1>
            <form action="/login" method="post">
            <input type="text" name="AddressLine*" id="Address Line 1" placeholder="Address Line1*">
            <input type="text" name="State" id="State" placeholder="State*">
            <input type="text" name="City" id="City*" placeholder="City*">
            <input type="text" name="Zipcode" id="Zipcode" placeholder="Zipcode*">
           
            <button type="submit"> Save </button>
            
            
            </form>
        </div>
    </div>

</body>
</html>